.contact-item {
	display: flex;
	align-items: center;
	place-content: start;
	margin: 5px 0;
	padding: 4px;
	border-radius: 5px;
	cursor: default !important;
	background-color: rgba(255, 255, 255, 0.1);
	transition: var(--transition);
}
.contact-item:hover:not(:disabled) {
	background-color: rgba(255, 255, 255, 0.2);
	cursor: pointer;
}
.contact-item img {
	width: 35px;
	height: 35px;
	margin: 5px;
	position: relative;
	padding: 5px;
	border-radius: 30%;
	transition: var(--transition);
}

.contact-item a {
	color: currentColor;
	margin: unset;
}

.contact-item p {
	color: rgba(255, 255, 255, 0.4);
	padding: 0;
	margin: 0;
}

.contact-card-details {
	width: 72%;
	padding: inherit;
	text-align: start;
}
.contact-card-details > a,
.contact-card-details > p {
	width: calc(100%);
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.card-icon {
	display: flex;
	width: 35px;
	height: 35px;
	justify-content: center;
	align-items: center;

	font-size: 17px;
	padding: 2px 8px;
	margin: 0 5px 0 10px;
	border-radius: 20px;
	background: var(--background-color);
	border: 1px solid rgba(255, 255, 255, 0.1);
	box-shadow: 0px 0px 20px 1px #ffbb763f;
}
