.contact-container {
	display: flex;
	width: auto;
	place-items: start;
	justify-items: center;
	gap: 15px;
}
.contact-list {
	flex-direction: column;
	max-height: 443px;
	overflow: scroll;
	scroll-behavior: smooth;
}
.form-container {
	width: 400px;
	max-width: 400px;
	background-color: rgba(255, 255, 255, 0.13);
	border-radius: 32px;
	backdrop-filter: blur(70px);
	-webkit-backdrop-filter: blur(70px);
	border: 2px solid rgba(255, 255, 255, 0.1);
	box-shadow: 0px 0px 20px 1px #ffbb763f;
	padding: 32px;
	margin: 10px 0;
}

.contact-menu {
	display: flex;
	width: 65px;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}
.menu {
	display: flex;
	color: currentColor !important;
	text-decoration: none !important;
	align-items: center;
	justify-content: center;
	width: 35px !important;
	height: 35px !important;
	border-radius: 50% !important;
	font-size: 15px !important;
}
.clipboard-status {
	position: absolute;
	width: 84%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.clipboard-status p {
	color: currentColor;
	padding: 0 5px !important;
	margin-left: 5px;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.07);
	border: 1px solid rgba(255, 255, 255, 0.1);
	gap: 5px;
}

.action-button {
	padding: 10px;
	text-align: center;
	opacity: 0.4;
	color: currentColor;
	transition: var(--transition);
}

.action-button.active {
	cursor: pointer;
	opacity: 1;
}
.action-button:hover:not(:disabled) {
	border-color: currentColor;
	background-color: var(--background-color);
}
.form-container > div {
	opacity: 0;
	animation: descend-opacity 0.5s forwards;
}
.form-container > div:nth-child(1) {
	animation-delay: 0.1s;
}
.form-container > div:nth-child(2) {
	animation-delay: 0.2s;
}
.form-container > div:nth-child(3) {
	animation-delay: 0.3s;
}
.form-container > div:nth-child(4) {
	animation-delay: 0.4s;
}
.form-container > div:nth-child(5) {
	animation-delay: 0.5s;
}

.contact-list > * {
	opacity: 0;
	animation: descend-opacity 0.5s forwards;
}
.contact-list > *:nth-child(1) {
	animation-delay: 0.1s;
}
.contact-list > *:nth-child(2) {
	animation-delay: 0.2s;
}
.contact-list > *:nth-child(3) {
	animation-delay: 0.3s;
}
.contact-list > *:nth-child(4) {
	animation-delay: 0.4s;
}
.contact-list > *:nth-child(5) {
	animation-delay: 0.5s;
}
.contact-list > *:nth-child(6) {
	animation-delay: 0.6s;
}
.contact-list > *:nth-child(7) {
	animation-delay: 0.7s;
}
.contact-list > *:nth-child(8) {
	animation-delay: 0.8s;
}
.contact-list > *:nth-child(9) {
	animation-delay: 0.9s;
}
.contact-list > *:nth-child(10) {
	animation-delay: 1s;
}

@media (max-width: 500px) {
	.contact-container {
		display: grid;
		gap: 0px;
	}
	.contact-menu {
		display: flex;
		width: 100%;
		flex-direction: row;
		gap: 10px;
		height: 65px;
		place-items: center;
	}
	.menu {
		width: 35px !important;
		height: 35px !important;
		padding: 0px !important;
		border-radius: 50% !important;
		font-size: 15px !important;
	}
}
