.app-bar {
    position: static;
    background: #111 !important;
}

.toolbar {
    display: flex;
    justify-content: space-between;
}

.tab {
    font-size: 35px;
    margin-right: 30px;
    color: #FFF;
    text-decoration: none;
}

