.form-grp {
    width: 50%;
    margin: 5% 0 0 25%;
}

.typography {
    text-align: center;
    margin-top: 100px !important;
}

.form-ctrl {
    margin-top: 20px !important;
    background-color: #fff;
}