/* This is my personal css code I used it on my ongoing resume website */
/* Donn Darryl Dimayuga */

:root {
    --clr-accent-1: #6eb0f7;
    --clr-accent-2: #ff0374;
    --clr-accent-3: #ff9200;
    --clr-accent-4: #00c9c6;
    
    --bg-primary: #22262a;
    --text-primary: #999999;
    
    --transition: 500ms ease-out;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  html {
    color-scheme: dark;
  }
  
  body {
    margin: 0;
    background-color: var(--bg-primary);
    color: var(--text-primary);
    font-family: monospace;
    font-size: 1.25rem;
  }
  
  ul:where([role="list"]) {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .primary-nav {
    --_nav-max-width: 200px;
    --_nav-padding-inline: 1rem;
    --_nav-padding-block: 1rem;
    width: min(100%, var(--_nav-max-width));
    padding-inline: var(--_nav-padding-inline);
    padding-block: var(--_nav-padding-block);
    margin: 1rem;
  }
  
  .primary-nav ul {
    display: flex;
    gap: 1.5rem;
  }
  
  .primary-nav li:nth-child(1) { --_color: var(--clr-accent-1) }
  .primary-nav li:nth-child(2) { --_color: var(--clr-accent-2) }
  .primary-nav li:nth-child(3) { --_color: var(--clr-accent-3) }
  .primary-nav li:nth-child(4) { --_color: var(--clr-accent-4) }
  
  .nav-link {
    display: inline-flex;
    width: 100%;
    text-decoration: none;
    color: inherit;
    padding: 0.5em 1em;
    position: relative;
    overflow: hidden;
    transition: color var(--transition);
    cursor: pointer;
  }
  
  .nav-link:hover {
    color: var(--_color);
  }
  
  .nav-link::before {
    --_line-width: 3px;
    content: "";
    position: absolute;
    inset: 0;
    width: var(--_line-width);
    background-color: var(--_color);
    transition: transform var(--transition);
  }
  
  .nav-link:hover::before {
    transform: translateX(
      calc(
        var(--_nav-max-width) -
          (var(--_nav-padding-inline) * 2) -
          var(--_line-width)
      )
    );
  }
  
  