.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.SelectedRow {
  .rdg-cell {
    background-color: #2780e3;
    color: white;
  }

  &:hover .rdg-cell {
    background-color: #2780e3;
  }
}

#root {
  height: 100vh;
}

.contentContainer {
  display: block;
  height: calc(100% - 56px);
}

.contentContainer .toolbarRow {
  height: 58px;
}

.contentContainer .datagridRow {
  height: calc(100% - 114px);
}

.toolbarContainer {
  display: flex;
  flex-direction: row;
  justify-content: right;
  column-gap: 10px;
  margin: 10px 0px;
}

.toolbarContainer .btn {
  margin: 0px 3px;
}

.alert {
  margin: 10px 0px;
  height: 37px;
  line-height:37px;
  padding: 0px 15px;
}

.alert .btn-close {
  height: 0px;
}

.mainDatagrid {
  min-height: calc(100% - 1px);
}

.form-floating>.form-control:not(:placeholder-shown):disabled~label::after {
  background-color: var(--bs-secondary-bg);
}